pitcoin/node/blockchain/storage/mempool
pitcoin/node/blockchain/storage/blocks
pitcoin/node/blockchain/storage/peers
pitcoin/**/*__pycache__
venv_python/*
venv_pitcoin/*
env_pitcoin/*
.idea
.DS_Store
