@charset "utf-8";


* {-webkit-text-size-adjust:none; -webkit-tap-highlight-color: rgba(0,0,0,0); outline:none;}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, input,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video, button {margin:0; padding:0;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block; zoom:1;}
h1,h2,h3,h4,h5 {font-weight:normal;}

li {list-style-type:none;}
img, fieldset, iframe {border:0;}

table {width:100%; border-collapse:collapse; border-spacing:0; text-align:inherit;}
caption {display:none;}
th, td {vertical-align:middle;}

legend {color:#000;}
img {max-width:40%; vertical-align:middle;}

li img, dd img {vertical-align:middle;}
input, select {vertical-align:middle;}
abbr, acronym {border-bottom:1px dotted; cursor:help;}

sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
em {font-style:normal; }
a {color:inherit; text-decoration:none;}

i, em, address {font-style:normal;}



input[type='text'], 
input[type='search'], 
input[type='password'],
input[type='number'],
textarea,
select,
button {
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	font-family:'Exo 2','Noto Sans KR', sans-serif;
	vertical-align:middle;
	line-height:1.1;
	padding:0;
	border:0;
	box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;
}
input[type='text'], 
input[type='search'], 
input[type='password'],
input[type='number'],
select,
textarea {
	box-shadow:none;
	border-radius:0;
	height:40px;
	border: 1px solid #dddddd;
	border-radius:0;
	line-height:40px;
	font-size:14px;
	padding:0 10px;
}
textarea {
	resize:none; 
	padding:10px;
	overflow:auto;
	line-height:1.5;
}

select{
	min-width:50px;
	background-size:auto 6px;
	color:#434343;
}

button {
	font-size:100%;
	cursor:pointer;
	background:none;
	transition:all .3s ease; -webkit-transition:all .3s ease; -moz-transition:all .3s ease; -o-transition:all .3s ease;
}
button span {position:relative; display:block;}

input[type='text']:disabled, 
input[type='search']:disabled, 
input[type='password']:disabled,
select:disabled,
textarea:disabled {background-color: #d7d7d7;}


.textarea {width:100%; min-height:200px; border:1px solid #ddd; background-color:#fff; line-height:1.5;}
.textarea textarea {width:100%; height:200px; border:0; background:none;}


.filebox {position:relative; width:100%;}
.filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}
.filebox label {
	position:absolute; right:0; top:0;
	display: inline-block;
	padding:0 20px;
	color:#fff;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	font-size:14px; font-size:0.875rem;
	background-color:#333;
	cursor: pointer;
	border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;
	line-height:50px;
}
.filebox .upload-name {
	display: inline-block;
	width:100%;
	text-indent:10px;
	font-size:14px; font-size:0.875rem;
	font-family: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #dddddd;
	border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;
	line-height:48px;
	box-sizing:border-box;
}



.inp_radio {display:inline-block; min-width:15%}
.inp_radio label {
	display:inline-block; 
	position:relative; 
	padding-left:25px;  
	line-height:16px; 
	cursor:pointer;
}
.inp_radio input[type="radio"] {display:none;}
.inp_radio label::before,
.inp_radio label:before {
	content:"";
	display:inline-block;
	width:16px; height:16px;
	position:absolute;
	left:0; top:0;
	background:url(../images/bg_radio.png) 0 0 no-repeat;
}
.inp_radio input[type="radio"]:checked + label:before,
.inp_radio input[type="radio"]:checked + label::before,
.inp_radio input[type="radio"][checked="checked"] + label:before,
.inp_radio input[type="radio"][checked="checked"] + label::before {
    background-position:0 bottom;
}

.inp_checkbox label {
	display:inline-block; 
	position:relative; 
	padding-left:30px;  
	line-height:23px; 
	cursor:pointer;
}
.inp_checkbox input[type="checkbox"] {display:none;}
.inp_checkbox label:before {
	content:"";
	display:inline-block;
	width:21px; height:23px;
	position:absolute;
	left:0; top:0;
	background:url(../images/bg_check.png) 0 bottom no-repeat;
}
.inp_checkbox input[type="checkbox"]:checked + label:before,
.inp_checkbox input[type="checkbox"][checked="checked"] + label:before {
    background-position:0 0;
}



select.select1 {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	padding-right:30px;
	width:100%;
	font-family:inherit; font-size:inherit;
	color:#333;
	background:#fff url(../images/common/icon_select.gif) 92% center no-repeat;
}
select.select1::-ms-expand { 
  display: none;
}
select.select1 option {line-height:200%; border:0;}
select.select1 option:checked,
select.select1 option:hover {background:#7692af; box-shadow:0 0 10px 100px #7692af inset;}


.inp_txt.w10p {width:10%;}
.inp_txt.w20p {width:20%;}
.inp_txt.w30p {width:30%;}
.inp_txt.w40p {width:40%;}
.inp_txt.w50p {width:50%;}
.inp_txt.w60p {width:60%;}
.inp_txt.w70p {width:70%;}
.inp_txt.w80p {width:80%;}
.inp_txt.w90p {width:90%;}
.inp_txt.w100p {width:100%;}

select.select1.w10p {width:10%;}
select.select1.w20p {width:20%;}
select.select1.w30p {width:30%;}
select.select1.w40p {width:40%;}
select.select1.w50p {width:50%;}
select.select1.w60p {width:60%;}
select.select1.w70p {width:70%;}
select.select1.w80p {width:80%;}
select.select1.w90p {width:90%;}
select.select1.w100p {width:100%;}




.pagenation {margin-top:30px; height:40px;}
.pagenation ul {text-align:center;}
.pagenation li {
	display:inline-block; *display:inline; zoom:1;
	text-align:center;
	vertical-align:top;
}
.pagenation li a {
	position:relative;
	display:block; height:auto; padding:8px 10px;
	font-size:18px; line-height:1; color:#b3b3b3;
}
.pagenation li a:hover {color:#7814f5;}
.pagenation li.on a {color:#000;}
.pagenation li.on a:after {content:""; position:absolute; left:0; bottom:-5px; width:100%; height:5px; background-color:#7814f5;}
.pagenation li.prev a , .pagenation li.next a {font-size:0; height:20px; position:relative;}

.pagenation li.prev a:after,
.pagenation li.next a:after {content:''; position:absolute; width:8px; height:14px; background:#FFF url('../images/mainnet/common/ico_paging.png') 0 0 no-repeat;}

.pagenation li.prev a:after {background-position:0 0px; left:0; top:11px;}
.pagenation li.next a:after {background-position:-8px 0; right:0; top:11px;}

.pagenation li.prev a:hover:after {background-position:0 -15px;}
.pagenation li.next a:hover:after {background-position:-8px -15px;}

.pagenation li.first a:after,
.pagenation li.last a:after {content:''; position:absolute; width:11px; height:14px; background:#FFF url('../images/mainnet/common/ico_paging2.png') 0 0 no-repeat;}

.pagenation li.first a:after {background-position:0 0px; left:0; top:11px;}
.pagenation li.last a:after {background-position:-11px 0; right:0; top:11px;}

.pagenation li.first a:hover:after {background-position:0 -15px;}
.pagenation li.last a:hover:after {background-position:-11px -15px;}


.pagenation .posR {position:absolute; right:0; top:0;}
.pagenation select {
	height:35px;
	background-position:95% center, 0 bottom;
}


.p0{padding:0!important}.p10{padding:10px!important}.p20{padding:20px!important}.p30{padding:30px!important}.p40{padding:40px!important}.p50{padding:50px!important}.pt0{padding-top:0!important}.pt1,.pt2{padding-top:2px!important}.pt3{padding-top:3px!important}.pt4{padding-top:4px!important}.pt5{padding-top:5px!important}.pt10{padding-top:10px!important}.pt15{padding-top:15px!important}.pt20{padding-top:20px!important}.pt25{padding-top:25px!important}.pt30{padding-top:30px!important}.pt35{padding-top:35px!important}.pt40{padding-top:40px!important}.pt50{padding-top:50px!important}.pt55{padding-top:55px!important}.pt60{padding-top:60px!important}.pt65{padding-top:65px!important}.pt70{padding-top:70px!important}.pt75{padding-top:75px!important}.pt80{padding-top:80px!important}.pt85{padding-top:85px!important}.pt90{padding-top:90px!important}.pt95{padding-top:95px!important}.pb0{padding-bottom:0!important}.pb5{padding-bottom:5px!important}.pb10{padding-bottom:10px!important}.pb15{padding-bottom:15px!important}.pb20{padding-bottom:20px!important}.pb25{padding-bottom:25px!important}.pb30{padding-bottom:30px!important}.pb35{padding-bottom:35px!important}.pb40{padding-bottom:40px!important}.pb50{padding-bottom:50px!important}.pb55{padding-bottom:55px!important}.pb60{padding-bottom:60px!important}.pb65{padding-bottom:65px!important}.pb70{padding-bottom:70px!important}.pb75{padding-bottom:75px!important}.pb80{padding-bottom:80px!important}.pb85{padding-bottom:85px!important}.pb90{padding-bottom:90px!important}.pb95{padding-bottom:95px!important}.pl0{padding-left:0!important}.pl5{padding-left:5px!important}.pl10{padding-left:10px!important}.pl15{padding-left:15px!important}.pl20{padding-left:20px!important}.pl25{padding-left:25px!important}.pl30{padding-left:30px!important}.pl35{padding-left:35px!important}.pl40{padding-left:40px!important}.pl45{padding-left:45px!important}.pl50{padding-left:50px!important}.pl55{padding-left:55px!important}.pl60{padding-left:60px!important}.pl65{padding-left:65px!important}.pl70{padding-left:70px!important}.pl75{padding-left:75px!important}.pl80{padding-left:80px!important}.pl85{padding-left:85px!important}.pl90{padding-left:90px!important}.pl95{padding-left:95px!important}.pr0{padding-right:0!important}.pr5{padding-right:5px!important}.pr10{padding-right:10px!important}.pr15{padding-right:15px!important}.pr20{padding-right:20px!important}.pr25{padding-right:25px!important}.pr30{padding-right:30px!important}.pr35{padding-right:35px!important}.pr40{padding-right:40px!important}.pr50{padding-right:50px!important}.pr55{padding-right:55px!important}.pr60{padding-right:60px!important}.pr65{padding-right:65px!important}.pr70{padding-right:70px!important}.pr75{padding-right:75px!important}.pr80{padding-right:80px!important}.mt-1{margin-top:-1px!important}.m0{margin:0!important}.m10{margin:10px!important}.m15{margin:15px!important}.m20{margin:20px!important}.m30{margin:30px!important}.m40{margin:40px}.m50{margin:50px}.mt0{margin-top:0!important}.mt5{margin-top:5px!important}.mt10{margin-top:10px!important}.mt15{margin-top:15px!important}.mt20{margin-top:20px!important}.mt25{margin-top:25px!important}.mt30{margin-top:30px!important}.mt35{margin-top:35px!important}.mt40{margin-top:40px!important}.mt50{margin-top:50px!important}.mt55{margin-top:55px!important}.mt60{margin-top:60px!important}.mt65{margin-top:65px!important}.mt70{margin-top:70px!important}.mt75{margin-top:75px!important}.mt80{margin-top:80px!important}.mt85{margin-top:85px!important}.mt90{margin-top:90px!important}.mt95{margin-top:95px!important}.mb0{margin-bottom:0!important}.mb5{margin-bottom:5px!important}.mb10{margin-bottom:10px!important}.mb15{margin-bottom:15px!important}.mb20{margin-bottom:20px!important}.mb25{margin-bottom:25px!important}.mb30{margin-bottom:30px!important}.mb35{margin-bottom:35px!important}.mb40{margin-bottom:40px!important}.mb50{margin-bottom:50px!important}.mb55{margin-bottom:55px!important}.mb60{margin-bottom:60px!important}.mb65{margin-bottom:65px!important}.mb70{margin-bottom:70px!important}.mb75{margin-bottom:75px!important}.mb80{margin-bottom:80px!important}.mb85{margin-bottom:85px!important}.mb90{margin-bottom:90px!important}.mb95{margin-bottom:95px!important}.ml0{margin-left:0!important}.ml5{margin-left:5px!important}.ml10{margin-left:10px!important}.ml15{margin-left:15px!important}.ml20{margin-left:20px!important}.ml25{margin-left:25px!important}.ml30{margin-left:30px!important}.ml35{margin-left:35px!important}.ml40{margin-left:40px!important}.ml50{margin-left:50px!important}.ml55{margin-left:55px!important}.ml60{margin-left:60px!important}.ml65{margin-left:65px!important}.ml70{margin-left:70px!important}.ml75{margin-left:75px!important}.ml80{margin-left:80px!important}.ml85{margin-left:85px!important}.ml90{margin-left:90px!important}.ml95{margin-left:95px!important}.mr0{margin-right:0!important}.mr5{margin-right:5px!important}.mr10{margin-right:10px!important}.mr15{margin-right:15px!important}.mr20{margin-right:20px!important}.mr25{margin-right:25px!important}.mr30{margin-right:30px!important}.mr35{margin-right:35px!important}.mr40{margin-right:40px!important}.mr50{margin-right:50px!important}.mr55{margin-right:55px!important}.mr60{margin-right:60px!important}.mr65{margin-right:65px!important}.mr70{margin-right:70px!important}.mr75{margin-right:75px!important}.mr80{margin-right:80px!important}.fz-b2{font-size:23px;line-height:35px}.fz-b1{font-size:20px;line-height:30px}.ma-g10,.ma-g15,.ma-g20,.ma-g25,.ma-g5{font-size:0;line-height:0}.pr-mb1{margin-bottom:40px!important}.pr-pb1{padding-bottom:40px!important}.pr-mb2{margin-bottom:80px!important}.pr-pb2{padding-bottom:80px!important}.pr-mt1{margin-top:40px!important}.pr-mt2{margin-top:80px!important}.pr-pt1{padding-top:40px!important}.pr-pt2{padding-top:80px!important}.c-red{color:#ed1c24}.ml-g10>*{margin-left:10px!important}.mr-g10>*{margin-right:10px!important}.ma-g5>*{margin-left:5px!important;margin-right:5px!important}.ma-g10>*{margin-left:10px!important;margin-right:10px!important}.ma-g15>*{margin-left:15px!important;margin-right:15px!important}.ma-g20>*{margin-left:20px!important;margin-right:20px!important}.ma-g25>*{margin-left:25px!important;margin-right:25px!important}


.w100 {width:100px;}
.w180 {width:180px;}


#skipNaviWrap {position: relative; z-index: 9999;}
#skipNaviWrap a {position: absolute; left: 0; top: -50px; width: 100%; padding: 5px 0; font-size: 0.8em; color: #fff; text-align: center; background-color: #000;}
#skipNaviWrap a:focus, #skipNaviWrap a:active {top: 0;} 
